[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "nanosvg"]
	path = nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "libcss"]
	path = libcss
	url = https://github.com/Unix4ever/libcss.git
